<ol>
<% @attempt.questions.each do |q| %>
	<li class="question">
		<span class="text"><%=q.content%></span>
		<ul>
			<% @attempt.answers.where(:question=>q).each do |a| %>
				<li>
					<span class="box"></span>
					<%# check_box_tag("valik") %> 
					<span class="content"><%= a.content %></span> 
					<%#= a.correct ? "(true)":"(false)" %>
				</li>
			<% end %>
		</ul>
	</li>

<% end %>
</ol>
<%= link_to 'Back', attempts_path %>